:root {
  --white: #FFFFFF;
  --black: #000000;
  --light-gray: #F3F3F3;
  --green: #00af5a;
  --red: #ff4c4c;
  --blue: #0097FE;
  --blue-2: #0083da;
  --light-blue: #34CFCA;
  --light-blue-2: #2CB1AD;
}